@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
/* @import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&display=swap'; */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 60em;
    font-family: "Roboto", "Hack", "Inconsolata", "Arial",  sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    background: #303233;
    color: #F5F5F5;
}

h1 {
    color: #F5F5F5;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h2,
strong {
  color: #7EB2B9;
}

header {
  background-color: #303233;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: #F5F5F51
  font-size: 2.5em;
  font-weight: 300;
}

article {
    float: left;
    padding: 10px;
    width: 50%;
    display: table;
}

section:after {
    content: "";
    display: table;
    clear: both;
}

div.time-point {
    list-style: none;
    background-color: #848B94;
    display: inline;
    width: 10px;
    height: 10px;
    color: #F5F5F5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 1em;
    padding: .5em .5em .5em .5em;
}

#contact-info li {
    list-style: none;
}

#contact-info form{
    float: left;
    padding: 10px;
    width: 50%;
    display: table;
}

#social-media-contact {
    float: left;
    padding: 10px;
    width: 30%;
    display: table;
    text-align: center;
}

#social-media-contact i {
    font-size: 4em;
}

#social-media-contact a {
    color: #7EB2B9;
}

div.email-box-background {
    background-color: #848B94;
    padding: .5em;
    border-radius: 40px 40px 40px 40px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #848B94;
}

.empty-circle {
    width: 1.11em;
    height: 1.11em;
    border: 3px solid #848B94;
    border-radius: 50%;
    display: inline-block;
}

div.languages li {
    list-style: none;
    position: relative;
    display: block;
    margin: .5em 0;
    border-radius: 10em;
}

#skills section {
    float: left;
    padding: 10px;
    width: 50%;
    display: table;
}

#technical-skills li {
    list-style: none;
    margin-left: -1em;
}

div.skill-level-text {
    text-align: center;
    font-style: italic;
}

.level-border {
    width: 90%;
    margin-top: .2em;
    margin-bottom: .2em;
    border: 3px solid #848B94;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.level3 {
    width: 30%;
    padding: .2em 0em .2em .2em;
    background-color: #848B94;
    color: #F5F5F5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.level4 {
    width: 40%;
    padding: .2em 0em .2em .2em;
    background-color: #848B94;
    color: #F5F5F5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.level5 {
    width: 50%;
    padding: .2em 0em .2em .2em;
    background-color: #848B94;
    color: #F5F5F5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.level6 {
    width: 60%;
    padding: .2em 0em .2em .2em;
    background-color: #848B94;
    color: #F5F5F5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.level7 {
    width: 70%;
    padding: .2em 0em .2em .2em;
    background-color: #848B94;
    color: #F5F5F5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.level8 {
    width: 80%;
    padding: .2em 0em .2em .2em;
    background-color: #848B94;
    color: #F5F5F5;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    padding: 1em;
    background: #848B94;
    color: #F5F5F5;
    box-shadow: 0 4px 8px 0 #45484A;
    transition: 0.3s;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.organization {
    background-color: #F5F5F5;
    display: inline;
    color: #303233;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: .5em .5em .5em .5em;
    margin: .5em;
}

.period,
.specialty {
    font-size: 1.15em;
}

.description {
    padding: 1em;
}

#hobbies li {
    list-style: none;
    display: block;
}

.email-subject input,
.email-address input {
    margin-left: 1em;
    margin-bottom: .5em;
    padding-left: 1em;
    width: 90%;
    height: 2em;
    border-radius: 40px 40px 40px 40px;
}

.email-message textarea {
    margin-left: 1em;
    margin-bottom: .5em;
    padding-left: 1em;
    width: 90%;
    border-top-left-radius: 20px;
    border-top-right-radius:  20px;
    border-bottom-left-radius: 20px;
}

.email-send-button input {
    margin-right: 4em;
    border-radius: 40px;
    width: 10em;
    height: 2em;
}

@media (max-width: 500px) {
    div.organization {
        display: block;
    }

    div.time-point {
        background-color: #303233;
    }
}

@media (max-width: 600px) {
    article {
        width: 100%;
        height: auto;
    }

    #experience-and-education {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 960px) {
    article {
        width: 100%;
        height: auto;
    }
}
