@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap';

body {
    margin: 0 auto;
    font-family: "Lato", "Roboto", "Hack", "Inconsolata", "Arial",  sans-serif;
    background: #202020;
    color: #FFFFFF;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 3.25vw;
    padding-top: 2.5vw;
}

h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 2vw;
}

h3 {
    font-size: 1.5vw;
    font-weight: 700;
    line-height: 2vw;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.31vw;
    line-height: 2vw;
}

header {
    text-align: right;
    background-color: rgba(32, 32, 32, 0.46);
    padding: 2vw;
}

header a {
    color: #FFFFFF;
    margin: 2vw;
    text-decoration: none;

    font-weight: 400;
    font-size: 1vw;

    text-transform: uppercase
}

footer {
    margin-top: -7vw;
    padding: 1vw;
    background-color: #181F1B;
    text-align: center;
}

footer h2 {
    font-weight: 500;
    font-size: 2.5vw;
    line-height: 3vw;
}

address {
    padding: 2vw;
    display: flex;
    flex-direction: row;

    align-content: center;
    align-items: center;
    justify-content: center;
}

address a {
    color: #FFFFFF;
    font-size: 2.5vw;
    text-decoration: none;

    padding-left: 3vw;
    padding-right: 3vw;
}

.grid-container {
    max-width: 90vw;
    padding: 9.25vw;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15vw;
}

#about-me {
    background-image: url(../images/about-me-background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#contact-me-button {
    background-color: #056B44;
    border-radius: 5vw;
    margin: 1vw;
    padding: 1vw 1.5vw 1vw 1.5vw;
    transition: background 0.3s, box-shadow 0.3s;
}

#contact-me-button:hover {
    background-color: rgba(32, 32, 32, 0.46);
    box-shadow: inset 0 0 0 2px #056B44;
}

#download-button {
    border-color: #056B44;
    border-style: solid;
    border-radius: 5vw;
    margin: 1vw;
    padding: 1vw 1.5vw 1vw 1.5vw;
    transition: background 0.3s;
}

#download-button:hover {
    background-color: #056B44;
}

#download-button i {
    padding: 0.5vw 0vw 0.5vw 0.5vw;
}

#profile-picture img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

#portfolio-separator {
    background-image: linear-gradient(
        to top,
        rgba(26, 32, 30, 0.85),
        rgba(26, 32, 30, 0.85)
    ), url("../images/my-work.png");
    height: 13.5vw;
}

#portfolio-separator h2 {
    text-align: center;
    margin-top: -2vw;
    padding-top: 5.5vw;
}

#portfolio-section {
    background: rgba(32, 32, 32, 1);
    grid-row-gap: 2vw;
}

#portfolio-section > *:nth-child(3n-1):nth-last-of-type(1) {
    grid-column: span 2;
}

#portfolio-section > *:nth-child(3n-2):nth-last-of-type(1) {
    grid-column: span 3;
}

.project-cover {
    height: 17vw;
    margin-bottom: 1vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: .5vw;
}

.project-information-grid {
    background: #202F27;

    display: grid;
    grid-template-columns: 7fr 1fr 1fr;
    grid-gap: 0;

    border-radius: .5vw;
}

.project-information-grid h3 {
    text-align: left;
    padding-left: 1vw;
}

.project-information-grid p {
    text-align: left;
    font-weight: 400;
    padding-left: 1vw;
}

.project-button {
    display: flex;

    align-items: center;
    justify-content: right;
    padding-right: 1vw;
}

.project-button a {
    color: #FFFFFF;
    font-size: 2vw;
    text-decoration: none;
}

#a-spaceships-adventure-cover {
    background-image: linear-gradient(
        to top,
        rgba(37, 60, 46, 0.42),
        rgba(37, 60, 46, 0.42)
    ), url("../projects/a-spaceships-adventure/screenshots/menu.png");
}

#keep-the-forest-cover {
    background-image: linear-gradient(
        to top,
        rgba(37, 60, 46, 0.42),
        rgba(37, 60, 46, 0.42)
    ), url("../projects/keep-the-forest/screenshots/LoadingScreen.png");
}

#laser-chess-cover {
    background-image: linear-gradient(
        to top,
        rgba(37, 60, 46, 0.42),
        rgba(37, 60, 46, 0.42)
    ), url("../projects/laser-chess/screenshots/laser-chess-wallpaper.png");
}

#late-night-umami-cover {
    background-image: linear-gradient(
        to top,
        rgba(37, 60, 46, 0.42),
        rgba(37, 60, 46, 0.42)
    ), url("../projects/late-night-umami/screenshots/gameplay.png");
}

#block-breaker-cover {
    background-image: linear-gradient(
        to top,
        rgba(37, 60, 46, 0.42),
        rgba(37, 60, 46, 0.42)
    ), url("../projects/block-breaker/screenshots/block-breaker.png");
}

#air-pirates-cover {
    background-image: linear-gradient(
        to top,
        rgba(37, 60, 46, 0.42),
        rgba(37, 60, 46, 0.42)
    ), url("../projects/air-pirates/screenshots/air-pirates.png");
}
