@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap';
/* @import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&display=swap'; */

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Roboto", "Hack", "Inconsolata", "Arial",  sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

header {
  background-color: #263d36;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

th {
    font-size: 1.5em;
    text-align: left;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

div.time-point {
    list-style: none;
    background-color: #69c;
    display: inline;
    width: 10px;
    height: 10px;
    color: #f5f7f9;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 1em;
    padding: .5em .5em .5em .5em;
    z-index: 1;
}

div.timeline-item {
    position: relative;
}

div.timeline-item:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline;
    border: medium solid #69c;
    margin-left: -1em;
}

div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 10px;
    row-gap: 1em;
}

div.name {
    grid-row-start: 1;
    grid-column-start: 1;
}

div.cv-image {
    grid-row-start: 2;
    grid-column-start: 1;
}

div.languages {
    grid-row-start: 2;
    grid-column-start: 2;
}

div.cv-image img{
    border: 0.5px solid #FF9F55;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

div.experience-and-education {
    grid-row-start: 3;
    grid-row-end: 6;
}

div.technical-skills {
    grid-row-start: 3;
    grid-column-start: 2;
}

div.hobbies {
    grid-row-start: 4;
    grid-column-start: 2;
}

div.contact-info li {
    list-style: none;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #69c;
}

.empty-circle {
    width: 14px;
    height: 14px;
    border: 3px solid #69c;
    border-radius: 50%;
    display: inline-block;
}

.half-full-circle-left {
    width: 10px;
    height: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: inline-block;
    background-color: #69c;
}

.right-empty-half-of-circle {
    margin-left: -4.5px;
    width: 4px;
    height: 14px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: inline-block;
    border: 3px solid #69c;
}

div.languages li {
    list-style: none;
    position: relative;
    display: block;
    margin: .5em 0;
    border-radius: 10em;
}

div.skill-level-text {
    text-align: center;
    font-style: italic;
}

div.technical-skills li {
    display: inline;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.organization {
    background-color: #FF9F55;
    display: inline;
    color: #f5f7f9;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: .5em .5em .5em .5em;
    margin: .5em;
    z-index: 1;
}

.period,
.specialty {
    font-size: 1.15em;
}

.description {
    padding: 1em;
}

div.hobbies li {
    list-style: none;
    display: block;
}
