@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:wght@300;400;500&display=swap';

body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "IBM Plex Serif", "Hack", "Inconsolata", "Arial",  sans-serif;
  line-height: 1.5;
  padding: 4em 1em;
  color: #566b78;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  border-left: 2px solid #69c;
}

a {
  color: #e81c4f;
}

header {
  background-color: #263d36;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
}

th {
    font-size: 1.5em;
    text-align: left;
}

header a {
  border: 1px solid #e81c4f;
  border-radius: 290486px;
  color: white;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
}

header a:hover {
  background:  #e81c4f;
  color: white;
}

div.cv-image img{
    border: 3px solid #69c;
    border-radius: 50%;
    min-width:40%;
    max-width:60%;
    height: auto;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    background-color: #69c;
}

.empty-circle {
    width: 14px;
    height: 14px;
    border: 3px solid #69c;
    border-radius: 50%;
    display: inline-block;
}

.half-full-circle-left {
    width: 10px;
    height: 20px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    display: inline-block;
    background-color: #69c;
}

.right-empty-half-of-circle {
    margin-left: -4.5px;
    width: 4px;
    height: 14px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: inline-block;
    border: 3px solid #69c;
}

div.languages {
    padding-top: 5em;
    padding-bottom: 5em;
}

div.languages li {
    margin:0 auto;
    list-style: none;
    position: relative;
    display: block;
    margin: .5em 0;
    border-radius: 10em;
}

div.skill-level-text {
    text-align: center;
    font-style: italic;
    padding-bottom: 2em;
}

div.technical-skills li {
    display: inline;
    width: 10px;
    height: 10px;
    background: #69c;
    color: #f5f7f9;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: .5em .5em .5em .5em;
}

.card {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

div.organization {
    font-family: arial, sans-serif;
    padding-bottom: 1em;
    font-size: 1.3em;
}

.period,
.specialty {
    font-size: 1.15em;
}

.description {
    padding: 1em;
    text-align: justify;
}

div.hobbies li {
    list-style: none;
    display: inline-table;
}
